@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  background: linear-gradient(135deg, #3498db, #e74c3c);
}

h2, p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #35424a;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  background: linear-gradient(135deg, #2980b9, #e67e22);
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.form-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 75%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  border: solid 0px;
  outline: none;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  font-size: 16px;
}

p {
  text-align: center;
  color: #dcdcdc;
  font-size: 18px;
}

.sidebar-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  padding: 10px;
  width: 60%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #546e7a;
  color: #dcdcdc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}

a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #dcdcdc;
}

table, th, td, tr {
  max-width: 95%;
  border: solid 1px #455a64;
  border-collapse: collapse;
  table-layout: fixed;
}

.top-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.refresh-button {
  margin-bottom: 21.44px;
  padding: 10px;
  width: 50%;
  background-color: #dcdcdc;
  color: #333;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}

.sumtext {
  white-space: pre-wrap;
  font-size: 18px;
  color: #546e7a;
}

.welcome-text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #dcdcdc;
}

.heading {
 padding-top: 25%;
  font-size: 5vh;
  color: #dcdcdc;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner-border {
  width: 5rem; /* Set the size of the loading icon */
  height: 5rem; /* Set the size of the loading icon */
}

/* Update the existing CSS for the summary display */
.summarydisplay {
  white-space: pre-wrap;
  font-size: 18px;
  color: #546e7a;
  max-height: 70vh; /* Limit the maximum height of the summary display */
  overflow-y: auto; /* Enable vertical scroll if the content is too long */
}

/* Center the buttons horizontally */
button {
  margin-right: 10px;
}

/* Add the following CSS to your existing styles */

/* Center the buttons horizontally and position them below the summary */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust the margin as needed */
}

button {
  width: 48%; /* Adjust the width as needed */
}

/* Add some spacing between the buttons */
.btn-outline-success {
  margin-left: auto;
}

.btn-outline-danger {
  margin-right: auto;
}
